
#personal-data {
    display: flex;
    justify-content: center;
   
    border-radius: 12px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}
.photo {
    width: 100%;
    max-width: 320px;
    background: #C4C4C4;
    border-radius: 12px;
}

.data-div {
    
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding:  2em;
}
.main-data-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and ( min-width : 740px ) {

}

@media screen and ( min-width : 1024px ) {

}