#topnav {
  position: sticky;
  top: 0;
  height: 4.5rem;
  width: 100vw;
  display: flex;
  flex: 1 0 0;
  background-color: black;
}
#topnav .link  {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  padding: 0.2rem;
  display: grid;
  place-content: center;
  
  transition: all 0.1s ease-in;

  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
}

#topnav a:hover {
  background:white ;
  color: black;
}

#topnav .active {
  background: white;
  color: black;
}
